.grid-container_Start {
    background: beige;
    display: grid;
    width: 100.5vw;
    grid-template-columns: 90vw 10vw;
    grid-template-rows: 10vh 10vh 80vh;
    gap: 0px 5px;
    grid-template-areas:
      "Überschrift Button"
      "Beschreibung Beschreibung"
      ". .";
  }
.Button_Start { 
    background:grey;
    grid-area: Button;
    text-align: center;
    margin: 10px;
}

.Beschreibung_Start {
    background: beige; 
    grid-area: Beschreibung; 
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.Produkte_Start {
  background: beige;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-gap: 10px;
  height: 25vh;
  padding-top: 30px;
  grid-template-columns: repeat(auto-fill)
}

.Bild_Start {
    display: grid;
    background:beige;
    height: 300px;
    grid-gap: 5px;
    padding-left: 20px;
    grid-template-columns: 15vw 85vw;
    margin: 20px;
  }

.PB_Start {
    display: grid;
    font-size: 18px;
    background: beige;
    height: 300px;
}

.Menge_Start {
    display: grid;
    background: beige;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: 5vw 5vw 10vw;
}

