.grid-container_Bestaetigung {
    background: beige;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 15vh 60vh 10vh 15vh ;
    gap: 0px 5px;
    grid-template-areas:
      "Überschrift Überschrift Überschrift"
      ". Feuerwerk ."
      ". Button ."
      ". . .";
  }
.Überschrift_Bestaetigung {
    background: grey;  
    grid-area: Überschrift; 
}

.Feuerwerk_Bestaetigung {
    background: beige; 
    grid-area: Feuerwerk; 
}

.Button_Bestaetigung { 
    background: grey;
    grid-area: Button
}