.grid-container_Bestaetigung {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 15vh 60vh 15vh ;
    gap: 0px 5px;
    grid-template-areas:
      "Überschrift Überschrift Überschrift"
      ". Feuerwerk ."
      ". Button .";
  }
.Überschrift_Bestaetigung {
    background: red;  
    grid-area: Überschrift; 
}

.Feuerwerk_Bestaetigung {
    background: blue; 
    grid-area: Feuerwerk; 
}

.Button_Bestaetigung { 
    background: green;
    grid-area: Button
}