.grid-container_Bestaetigung {
    background: beige;
    display: grid;
    width: 100.5vw;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 10vh 65vh 10vh 15vh ;
    gap: 0px 5px;
    grid-template-areas:
      "Überschrift Überschrift Überschrift"
      ". Feuerwerk ."
      ". Button ."
      ". . .";
  }
.Überschrift_Bestaetigung {
    background: grey;  
    text-align: center;
    grid-area: Überschrift; 
    margin: 10px;
}

.Feuerwerk_Bestaetigung {
    background: beige; 
    grid-area: Feuerwerk; 
    text-align: center;
}

.Button_Bestaetigung { 
    background: beige;
    grid-area: Button;
    text-align: center;
    font-size: 50px;
}

.button_bestaetigung{
    width: 70vh;
    height: 7vh;
    background: grey;
    font-size: 30px;
}

img {
    height: 600px;
}