.grid-container_Formular {
    background: beige;
    display: grid;
    grid-template-columns: 66vw  22vw 10vw;
    grid-template-rows: 10vh 10vh 10vh 20vh 40vh;
    gap: 0px 5px;
    grid-template-areas:
      "Überschrift Überschrift Button"
      "Datenübersicht  . ."
      ". Preisübersicht ."
      ". Preise Preise "
      ". . .";
  }


.Button_Formular { 
    background:grey;
    grid-area: Button;
    text-align: center;
    margin: 10px;
}

.Datenübersicht_Formular { 
    background: beige;
    grid-area: Datenübersicht;
    margin: 20px;
    
}



.Daten_Formular {
    display: grid;
    background:beige;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    height: 40vh;
    grid-gap: 5px;
    margin: 20px;
    padding-left: 30px;
    font-size: 20px;
    grid-template-columns: 20vw 45vw;
  }


