.grid-container_Formular {
    display: grid;
    grid-template-columns: 66vw 24vw 10vw;
    grid-template-rows: 15vh 10vh 30vh;
    gap: 0px 5px;
    grid-template-areas:
      "Überschrift Überschrift Button"
      "Produktübersicht . ."
      ". Preise Preise";
  }
.Überschrift_Formular {
    background: red;  
    grid-area: Überschrift; 
}


.Button_Formular { 
    background:white;
    grid-area: Button;
}

.Datenübersicht_Formular { 
    background: blue;
    grid-area: Produktübersicht;
}



.Daten_Formular {
    display: grid;
    background:turquoise;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: 20vw 45vw;
  }


.Preise_Formular {
    background: violet;  
    grid-area: Preise; 
}