.grid-container_Warenkorb {
    background: beige;
    display: grid;
    grid-template-columns: 63.35vw 26.65vw 10vw;
    grid-template-rows: 10vh 10vh 80vh;
    gap: 0px 5px;
    grid-template-areas:
      "Überschrift Überschrift Button"
      "Produktübersicht . ."
      ". Preise Preise";
  }
.Überschrift_Warenkorb {
    background: grey;  
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 10px;
}


.Button_Warenkorb { 
    background:grey;
    grid-area: Button;
    text-align: center;
    margin: 10px;
}

.Produktübersicht_Warenkorb { 
    width: 100.5vw;
    background: beige;
    grid-area: Produktübersicht;
    margin: 20px;
}


.Produkte_Warenkorb {
  background: beige;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-gap: 10px;
  height: 30vh;
  margin: 20px;
  grid-template-columns: repeat(auto-fill)
}

.Bild_Warenkorb {
    display: grid;
    background:beige;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: 15vw 50vw;
  }

.PB_Warenkorb {
    display: grid;
    background: beige;
    height: 100%;
    grid-gap: 5px;
}

.Menge_Warenkorb {
    display: grid;
    background: beige;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: 20vw 20vw 10vw;
}

.Preise_Warenkorb {
    background: beige;  
    grid-area: Preise; 
    height: 600px;
    margin: 20px;
    padding-left: 45px;
    border-left-style: solid;
    border-color: gray;
    border-width: 5px;
    
}


.button_X {
    font-size: 15px;
    background: grey;
    width: 2vw;
}
